################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/res/Thumbs.db
/res/Thumbs.db
/.vs
/src/CEDS-Data-Warehouse-Project/bin
/src/CEDS-Data-Warehouse-Project/obj/debug
